<div class="container">
<div class="row">
<div class="col-md-12">
<h1>Edit Recipient</h1>
<form class="form-horizontal" action='/recipients/<%= @recipient.id.to_s %>' method='post'>
<input type="hidden" name="_method" value="put">
	<div class="form-group">
    <label for="name" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="name" id="name" value='<%= @recipient.name %>'>
    </div>
  </div>
  <div class="form-group">
    <label for="email" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="email" id="email" value='<%= @recipient.email %>'>
    </div>
  </div>
  <div class="form-group">
    <label for="phone" class="col-sm-2 control-label">Phone</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="phone" id="phone" value='<%= @recipient.phone.pretty_phone %>'>
    </div>
  </div>
  <div class="form-group">
    <label for="hours" class="col-sm-2 control-label">Working Hours</label>
    <div class="col-sm-10">
      <select class="form-control" name="hours">
	      	<option value=''>&nbsp;</option>
			  <% ['pt','mt','ct','et','emea'].each do |type| %>
			  	<option value='<%= type %>' <%= 'selected' if type==@recipient.hours %>><%= type %></option>
			  <% end %>
			</select>
    </div>
  </div>
<input class="btn btn-default" type="submit" value="Save">
</form>
<p>
<form action='/recipients/<%= @recipient.id.to_s %>' method='post'>
  <input type="hidden" name="_method" value="delete">
  <button type="submit" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure you want to delete this recipient?');">Delete Recipient</button>
</form>
</p>
</div></div></div>