<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Submissions</h1>
			<table class="table table-striped">
			<tr><th>Date</th><th>Company</th><th>Name</th><th>Email</th><th>Description</th><th>BDR</th></tr>
			<% @submissions.each do |submission| %>
			  <tr>
			    <td><%= submission.created_at %></td>
			    <td><%= submission.company %></td>
			    <td><%= submission.firstName + ' ' + submission.lastName %></td>
			    <td><%= submission.emailAddress %></td>
			    <td><%= submission.description1 %></td>
			    <td><%= submission.bdr %></td>
			 	</tr>
			<% end %>
			</table> 
		</div>
	</div>
</div>