<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Submissions</h1>
			<p><button class="btn btn-xs btn-info" onclick="location.href='/submissions.csv'">Download All</button>
			<button class="btn btn-xs btn-info" onclick="location.href='/submissions.csv?days_ago=7'">Download Last 7 Days</button>
			<button class="btn btn-xs btn-info" onclick="location.href='/submissions.csv?days_ago=30'">Download Last 30 Days</button>
			<button class="btn btn-xs btn-info" onclick="location.href='/submissions.csv?days_ago=90'">Download Last 90 Days</button>
			</p>
			<%= will_paginate @submissions %>
			<table class="table table-striped">
			<tr><th>Date</th><th>Company</th><th>Name</th><th>Email</th><th>Phone</th><th>Description</th><th>Status</th></tr>
			<% @submissions.each do |submission| %>
			  <tr>
			    <td><%= (submission.created_at.getgm - 7*60*60).strftime "%Y-%m-%d %l:%M:%S %P" %></td>
			    <td><%= submission.company_name %></td>
			    <td><%= submission.name %></td>
			    <td><%= submission.email %></td>
			    <td><%= Phonelib.parse(submission.phone).national %></td>
			    <td><%= submission.description %></td>
			    <td><%= submission.status %></td>
			 	</tr>
			<% end %>
			</table> 
		</div>
	</div>
</div>