<div class="container">
<div class="row">
<div class="col-md-12">
<h1>Edit Territory</h1>
<form class="form-horizontal" action=<%= '/territories/'+@territory.id.to_s %> method='post'>
<input type="hidden" name="_method" value="put">
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="name" id="name" value="<%= @territory.name %>">
    </div>
  </div>
  <div class="form-group">
    <label for="recipient_id" class="col-sm-2 control-label">Recipient</label>
    <div class="col-sm-10">
      <select class="form-control" name="recipient_id" id="recipient_id">
        <option value=''></option>
        <% @recipients.each do |recipient| %>
          <option value='<%= recipient.id %>' <%= 'selected' if recipient.id==@territory.recipient_id %>><%= recipient.name %></option>
        <% end %>
      </select>
    </div>
  </div>
<input class="btn btn-default" type="submit" value="Save">
</form>
</div></div></div>